body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

html {
  -webkit-text-size-adjust: 100%;
}


a {
    cursor: pointer;
    text-decoration: none;
}




.about-content {
  margin: 10vw;
}

.about-content h1 {
  margin: 2.5rem;
}


.main-header {
    background-color: black;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;

    
}

.home-blog-post {
    display: inline-flex;
    text-overflow: hidden;
    width: 250px;
    height: 100px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 2px;
    box-shadow: 0px 0px 5px;
}





.home-blog-title{
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;

}

.home-blog-title h4{
    margin: 0px;
}


.home-blog-title h5{
    margin: 0px;
    font-size: 10px;
    width: fit-content;

}

.home-blog-description {
    width: 98%;
    margin: 0px;
    text-overflow: ellipsis;
    height: 80%;
    
    
}

.home-blog-description h6 {

    width: 100%;
    margin: 0px;
    height: 80%;
    
}


.home-blog-post a img{
    width: 100px;
    margin: 0px 10px 0px 0px;
    border-radius: 20px;
}


.footer-categories{
  font-size: 20px;
  opacity: .7;
  margin: 3px 0 10px 0;
}

.footer-content ul{
  list-style: none;
  line-height: 20px;
  position: relative;
  padding: 0;
  margin: 0;
}

.footer-content ul li{
  margin-bottom: 5px;
  
}

.footer-content ul li a{
  text-decoration: none;
  color: inherit;
  
}

.footer-content ul li:hover{
  text-decoration: underline;
 
}


.main-header-logo {
    display: flex;
    width: fit-content;
    height: 100%;
    padding-left: 25px;
}

.main-header-logo img{
    height: 50px;
    display: flex;
}

.login-body{
    align-items: center;
    align-content: center;
}

.login-form{
    width: 100%;
    padding: 20%;

}


.login-form input {
    display: block;
    border-radius: 5px;
    box-sizing: 80vw;
    width: 60%;

}

.main-header-search {
    width: 50vw;
    height: 100%;
    width: fit-content;
    align-items: center;
    display: flex;
    padding: 0 5vw;
}

#main-search-bar {
    width: 40vw;
}



.main-header-search input{
   background-color: transparent;
   line-height: 30px;
   border-radius: 20px;
   font-size: inherit;
   color: white;
   border-style: solid;

}

input[type="search" i]::-webkit-search-cancel-button {
    cursor: pointer;
}

.main-header-nav {
    width: fit-content;
    height: 100%;
    margin-right: 10px;
}

#ham {
  padding-right: 20px;
  padding-top: 13px;
  display: none;
  cursor: pointer;
}


#ham div {
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2{
  opacity: 0;
}

.open .bar3{
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display:inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: 9;
  font-size: xx-large;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  background-color: #000000;
  left: 0;
  height: auto;
}

.mobile-menu li a{
  text-decoration: none;
  color: white;
  width: 100vw;
  width: 100%;
  
}

.mobile-menu li:hover{
  background-color: #777777;
 
}

.mobile-menu li{
  text-decoration: none;
  list-style: none;
  color:#fff;
  text-align: center;
  background-color: #5b5b5b;
  border: 1px solid rgb(120, 120, 120);
  margin: 10px;
  border-radius: 5px;
  
}


@media only screen and (max-width:1000px){
  .main-header-nav{
    display: none;
  }

  #ham {
    display: block;
  }
  
}

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.footer {
  background-color: black;
  color:white;
  position: absolute;
  width: 100%;
  height: 9.5rem;
  
}


.footer-title {
  font-size: 24px;
  text-shadow: #2dc6e9 2px 2px 5px;


}

.footer-title a{
  color: inherit;


}

.footer-table{
  display: block;
}
.main-header-nav ul{
    list-style: none;
    
}

.main-header-nav ul li{
    display: flex;
    float: left;

}


.main-header-nav ul li:hover {
    background-color: rgb(83, 83, 83);
    border-radius: 20px;
    border-style: none;
}



.main-header-nav ul a li{
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  text-decoration: none;
  color: aliceblue;

}


  .product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    align-items: stretch; /* Ensure all product cards have the same height */
  }
  
  /* Rest of your CSS styles... */
  
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    border: #000000 solid 1px;
    border-radius: 10px;
    height: 250px;
    background-color: #adadad;
    margin-right: 40px;
    overflow: hidden;
  }
  
  .product-image {
    position: relative;
    width: 250px;
    border-radius: 10px;
    height: 125px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
  }
  
  .product-brand {
    text-transform: uppercase;
    font-size: large;
    text-decoration: none;
    margin: 2px;
    color: #000000;
  }

  
  .product-short-description {
    width: 98%;
    height: 100%;
    line-height: 20px;
    overflow: hidden;
    text-decoration: none;
    opacity: 0.5;
    margin: 5px 0;
    color: #000000;
    text-transform: capitalize;
  }


  .footer-right{
    margin-left: 30vw;
    font-size: 14px;
    line-height: 20px;

  }
  .footer-left{
    margin-left: 20vw;
    font-size: 14px;
    line-height: 20px;

  }
  

  .pre-btn,.nxt-btn {
    border: none;
    width: 10vw;
    position: absolute;
    top: 0;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
    
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }

  @media screen and (max-width: 600px) {
    .main-header-nav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .nxt-btn,
    .pre-btn {
      display: none;
    }
  }

  .blog-page-article {
    display:flex;

    justify-content: center;

  }




  @media screen and (max-width: 680px) {
    .blog-page-container{
      margin: 40px;
    }
    .blog-page-content img{
      height: 300px;
      max-width: 100%;
    }
  }
  @media screen and (min-width: 600px) {
    .blog-page-container{
      align-self: center;
      max-width: 600px;
    }
    
    .blog-page-content img{
      max-width: 100%;
      height: auto !important;
    }
  }

  #email, #password {
    border:solid 1px black;
    border-radius: 20px;
  }

  #login-container{
    display: flex;
    justify-content: center;
  }

  #login-form {
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    box-shadow: #5b5b5b 2px 2px 5px;

  }

  

  

  head {
    overflow: hidden;
  }


  .blog-page-content p{
    font-size: 20px;

 
 }
 
  
  

  .blog-page-img img {
    width: inherit !important;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }

  #email {
    display: block;
    line-height: 20px;
    width: 60%;
    align-self: center;
  }


    
  

  .control-label {
    display: block;
  }

  #password {
    display: block;
    line-height: 20px;
    width: 60%;
    align-self: center;
  }

  #submit{
    background-color: rgb(176, 237, 198);
    border: black solid 1px;
    border-radius: 20px;
    margin-top: 10px;
    width: 60%;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #login-form {
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 5px;
    width: 620px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: #5b5b5b 2px 2px 5px;

  }

  @media screen and (max-width: 680px) {
    #login-form {
      border:none;
      width: 100%;
      box-shadow: none;
    }
    #email,#password{
      width:80%;
      display:block;
      line-height: 50px;
      border-radius: 4px;
      margin: 20px;
    }
    .form-group{
      display: block;
    }
  }

  #email:focus{
    border:solid 5px lightblue;
  }
  

  .form{
    position: relative;
    align-self: center;
    width: 100%;
  }


  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }
  