{% extends "header.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% block title%}About Us{% endblock%}
</head>
<body>
    {% block content %}
    <div id="content">
    <div class="about-container">
        <div class="about-content">
            <h1>About Us</h1>
            <p>Welcome to Software Development 101, the ultimate destination for tech enthusiasts, creators, and learners! We're passionate about connecting software developers, engineers, and tech enthusiasts from all around the world through engaging and insightful blog content.</p>
            <h1>Our Mission</h1>
            <p>Our mission is to provide a platform where software developers can share their knowledge, experiences, and expertise with the global tech community. We believe that the best way to learn and grow is by exchanging ideas, learning from each other's challenges and successes, and staying updated on the latest industry trends.</p>
        </div>
    </div>
</div>
    {% endblock %}
    
</body>
</html>