{% from "bootstrap5/form.html" import render_form %}
{% extends "header.html"%}
    {% block head%}
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/prism.css')}}">
    {%endblock%}

    {% block content%} 
    <div id="login-container">
      <div id="contact-form">
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='add_post') }}
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
   </div>
   <script src="{{url_for('static', filename="scripts/prism.js")}}"></script>
   {% endblock%}

</body>
</html>