<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{%block title%}{%endblock%}</title>
      <link rel="icon" type="image/x-ion" href="{{url_for('static',filename='images/favicon.ico')}}">
      <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
   </head>
   <body>
      <header class="main-header">
         <div class="main-header-logo">
            <a href="{{url_for('home')}}"><img src="{{url_for('static', filename='images/favicon.ico')}}" alt="Logo"></a>

         </div>

         <div class="main-header-search" >
            <form method="POST" action="{{url_for('search')}}">
               {{search_form.hidden_tag()}}
            <input id="main-search-bar" placeholder="search..." type="search" name="searched"></input>
         </form>

         </div>
         <nav class="main-header-nav">
            <ul>

               {% if not current_user.is_authenticated%}
               <a href="{{url_for('login')}}"> <li> login</li></a>
               <a href="{{url_for('register')}}"> <li> register</li></a>
               {% endif %}
               {% if current_user.is_authenticated%}
               <a href="{{url_for('dashboard',username=current_user.username)}}"> <li> Dashboard</li></a>
               <a href="{{url_for('logout')}}"> <li> Log Out</li></a>
               {% endif %}
            </ul>

         </nav>
         <div id="ham" onclick="toggleMobileMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <ul class="mobile-menu">
               {% if not current_user.is_authenticated%}
               <a href="{{url_for('login')}}"> <li> login</li></a>
               <a href="{{url_for('register')}}"> <li> register</li></a>
               {% endif %}
               {% if current_user.is_authenticated%}
               <a href="{{url_for('dashboard',username=current_user.username)}}"> <li> Dashboard</li></a>
               <a href="{{url_for('logout')}}"> <li> Log Out</li></a>
               {% endif%}
            </ul>

         </div>

      </header>
      <h1 style="margin-top: 90px;"> This website is still in Development and has almost no function so if something dosent work its the website</h1>
      <script src="{{url_for('static', filename='scripts/mobile-menu.js')}}"></script>

      <script async src="https://www.googletagmanager.com/gtag/js?id=G-M2F5L1915F"></script>
      <script>
         
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-M2F5L1915F');
      </script>
      <div id="content">
      {% block content%}
      {% endblock %}
      </div>
      <footer class="footer">
         <div class="footer-title"><a href="{{url_for('home')}}">Software Development 101</a></div>
         <table class="footer-table">
            <tr> 
               <td>
                  <table class="footer-left">
                     <tr class="footer-colunm">
                        <td>
                           <div class="footer-support">
                              <div class="footer-categories">
                                 Support
                              </div>

                              <div class="footer-content">
                                 <ul>
                                    <li>About Us</li>
                                    <li>Forem</li>
                                    <li>FAQ</li>
                                 </ul>
                              </div>
                           </div>
                  </table>
               </td>
               <td>
                  <table class="footer-right">
                     <tr class="footer-colunm">
                        <td>
                           <div class="footer-support">
                              <div class="footer-categories">
                                 Support
                              </div>

                              <div class="footer-content">
                                 <ul>
                                    <li><a href="{{url_for('about_us')}}">About Us</a></li>
                                    <li><a href="{{url_for('contact')}}">Contact</a></li>
                                    <li>Forem</li>
                                    <li>FAQ</li>
                                 </ul>
                              </div>
                           </div>
                  </table>
               </td>
            </tr>
         </table>
      </footer>
     
   </body>
</html>