<!DOCTYPE html>
{% extends "header.html" %}
{% block title%}The 101 software developers {% endblock%}


<body>
    {% block content%}
    <div class="blog-catigory">
        <h3>Popular</h3>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>
    <div class="blog-catigory">
        <h3>recommended</h3>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>
    <div class="blog-catigory">
        <h3>fetured</h3>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>
    <div class="home-blog-post">
        <a href="#">
        <img class="home-blog-image" src="../static/images/favicon.ico">
        </a>
        <div class="home-blog-title">
            <h4>How to cook with samuel</h4>
            <h5>Author: Samuel Whitehall</h5>
            <div class="home-blog-description">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatem deleniti in tenetur eius! Ipsum dolores sapiente, fuga maxime ducimus, repellendus distinctio eos necessitatibus aperiam id et vel, nobis earum?</h6>
            </div>
        </div>
    </div>

    

    
    {% endblock %}
    
    
</body>
</html>