
{% extends "header.html" %}
{% block title%}The 101 software developers {% endblock%}


<body>
    {% block content%}
    <section class="product"> 
        <h2 class="product-category">best selling</h2>
        <div class="product-container">
            <button class="pre-btn"><img src="../static/images/favicon.ico" alt=""></button>
            <button class="nxt-btn"><img src="../static/images/favicon.ico" alt=""></button>
            {% for post in posts %}
            <a href="{{url_for('show_post', post_id = post.id, post_title = post.title)}}" class="blog-home-link">
            <div class="product-card">
                <div class="product-image">
                     
                    <img src="../static/images/favicon.ico" class="product-thumb" alt="">
                </div>
                <div class="product-info">
                    <h2 class="product-brand">{{post.title}}</h2>
                    <p class="product-short-description">{{post.description}}</p>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </section>

        
    <script src="../static/scripts/slider.js"> </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M2F5L1915F"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M2F5L1915F');
    </script>
    {% endblock %}
</body>
</html>