{% extends "header.html" %}
{% block title%}Dev Net{% endblock%}
<body>
    {% block content%}
    <section class="explore" id="ex">
        {% for post in posts%}
        <div class="post" >
            <div class="post-container">
                <a href="{{url_for('show_post', post_id = post.id, post_title = post.title)}}">
                
                <img src="{{url_for('static', filename='images/profile_pics/{}'.format(post.thumbnail))}}"class="post-thumb" alt="">
                </a>
                <div class="post-info">
                    <div class="author-info">
                        <div class="author-profile">
                            <img src="{{url_for('static', filename = 'images/favicon.ico')}}">
                        </div>
                        <div class= "author-name">
                            {{post.author.username}}
                        </div>
                    </div>
                    <a class="post-link" href="{{url_for('show_post', post_id = post.id, post_title = post.title)}}">

                    <div class="post-title">
                        {{post.title}}
                    </div>
                    
                    <div class="post-description">
                        <p>
                            {{post.description}}
                        </p>
                    </div>
                </a>

                </div>
            </div>
        </div>
        {% endfor%}
    </section>
    <script src="{{url_for('static', filename='scripts/search-bar.js')}}"></script>
    <script language="JavaScript" type="text/javascript" src="url_for('static, filename='scripts/mobile-menu.js')"> </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M2F5L1915F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-M2F5L1915F');
    </script>
    </div>
    {% endblock %}
</body>
</html>