{% extends "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

  

  {% block content%}
  <div id="content">
  <div id="login-container">
  <div id="login-form">
  {% with messages = get_flashed_messages() %}
  {% if messages%}
  <ul class="flashes">
    {% for message in messages %}
    <li style="color:red; list-style:none;"> {{message}} </li>
    {%endfor%}
  </ul>
  {% endif %}
  {% endwith %}
  
  {{wtf.quick_form(form)}}
  </div>
  </div>

    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M2F5L1915F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-M2F5L1915F');
    </script>
  </div>
{% endblock %}