{% extends "header.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title%}Reset Password{%endblock%}

<body>
    {% block content%}
    {{wtf.quick_form(form)}}

    {% with messages = get_flashed_messages() %}
    {% if messages%}
    <div id="error-message" style="width: fit-content;">
    <ul class="flashes">
      {% for message in messages %}
      <li style=" color:black; list-style:none;"> {{message}} </li>
      {%endfor%}
    </ul>
     </div>
    {% endif %}
    {% endwith %}'
    
    {% endblock %}
    
    
</body>
